$white: white !default;
$orange: #f47321;

.containerStyle {
  background-color: $white;

  h4 {
    color: $orange;
  }

  .bigText {
    font-size: 4rem;
  }
}

.paddedList > * {
  padding: 0.4rem;
}
