$green: #005030;
$darkGrey: #2a2c2b;
$orange: #f47321;

.logo {
  width: 50%;
  margin: auto;
}
.btn-success {
  background-color: $green;
  color: white;
}

.btn-success:visited {
  background-color: $green;
  color: white;
}

.btn-success:hover,
.btn-success:active {
  background-color: $orange;
  border-color: $orange;
  color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 376px) {
  .logo {
    width: 50%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo {
    width: 35%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo {
    width: 50%;
  }
}

.dark {
  color: $darkGrey;
}
