$orange: #f47321 !default;
$green: #005030 !default;
$white: white !default;

.dropdown-item {
  font-size: 20px;
}
.dropdown-item:hover {
  background-color: $green;
  color: $white;
}
.navbar-brand {
  width: 20vw;
  margin: 0 auto;
}

i:hover,
i:active,
i:focus {
  color: $orange;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
