$orange: #f47321 !default;
$green: #005030 !default;
$white: #fffcf2 !default;

.dropdown-item:hover {
  background-color: $green;
  color: $white;
}
.navbar-brand {
  width: 20vw;
  margin: 0 auto;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
