@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');

$Oswald: 'Oswald', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

$green: #005030 !default;
$orange: #f47321 !default;
$white: #fffcf2 !default;
$darkWhite: #bdc3c7 !default;
$lightGrey: #374140 !default;
$darkGrey: #2a2c2b !default;

i {
  color: $orange;
}

* {
  font-family: 'Open Sans';
  background-color: $white;
}

.containerStyle {
  border: 10px double #2a2c2b;
  margin: 2rem auto;
  padding: 2rem 7vw;
}

.bigText {
  font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 800;
}