$green: #005030 !default;
$orange: #f47321 !default;
$white: #fffcf2 !default;
$darkWhite: #bdc3c7 !default;
$lightGrey: #374140 !default;
$darkGrey: #2a2c2b !default;

i {
  color: $green;
}
i:hover,
i:focus,
i:active {
  cursor: pointer;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: $green;
}
