@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap");

$Oswald: "Oswald", sans-serif;
$OpenSans: "Open Sans", sans-serif;

$green: #005030 !default;
$orange: #f47321 !default;
$white: #fffcf2 !default;
$darkWhite: #bdc3c7 !default;
$lightGrey: #374140 !default;
$darkGrey: #2a2c2b !default;

i {
  color: $green;
}
i:hover,
i:focus,
i:active {
  cursor: pointer;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: $green;
}

* {
  font-family: "Open Sans";
}

.containerStyle {
  border: 10px double $green;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

.containerStyle2 {
  border: 20px double #2a2c2b;
}

.bigText {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald";
  font-weight: 800;
}

